streamlit
transformers
pandas
matplotlib
wordcloud
textblob
requests
Pillow
plotly
streamlit_extras
streamlit_option_menu
textstat
nltk
emoji
spacy==3.8.3
thinc==8.3.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.3/en_core_web_sm-3.8.3-py3-none-any.whl