streamlit
transformers
pandas
matplotlib
wordcloud
textblob
requests
Pillow
plotly
spacy
textstat
fasttext
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz